@{
	Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client;

<h3>Add new client to Itinerary</h3>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	@Html.TextBoxFor(model => model.Name)
	@Html.LabelFor(model => model.HairType)
	@Html.TextBoxFor(model => model.HairType)
	@Html.DropDownList("Stylist")
	<input type="submit" value="Create client">
}

